<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 800px;
        margin: 4rem auto;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }

      h1 {
        color: #007bff;
        text-align: center;
      }

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      pre {
        white-space: pre-wrap;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 1.5rem;
      }
    </style>
  </head>
  <body>
    <%- include("partials/nav.ejs") %>
    <div class="container" style="margin-bottom: 1rem">
      <h1><%= blog.title %></h1>
      <img
        src="/<%= blog.coverImageUrl %>"
        alt="<%= blog.title %> Cover Image"
      />
      <!-- <p>Image Path: <%= blog.coverImageUrl %></p> -->
      <pre><%= blog.body %></pre>
      <img
        src="<%=blog.createdBy.profileImageUrl%>"
        width="50px"
        style="margin-right: 10px"
      />
      <p class="mt-2">
        post by <%=blog.createdBy.fullName %>
      </p>      
    </div>

    <div class="container mt-3" style="margin-bottom: 1rem" >
      <h1>Comments</h1>
      <% if (user) { %>
        <form action="/blog/comment/<%= blog._id %>" method="post">
          <div class="mb-3">
            <input
              type="text"
              name="content"
              class="form-control"
              placeholder="Enter your comment"
            />
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      <% } %>
    </div>

    <div class="container mt-3">
     <% comments.forEach(comment => { %>
      
        <img
        src="<%=blog.createdBy.profileImageUrl%>"
        width="50px"
        style="margin-right: 10px"
      />
      <p class="mt-1">
        by <%=blog.createdBy.fullName %>
      </p>     
      <pre style="margin-top:0.5rem"><%= comment.content %></pre>
      
     <% }) %>
    </div>

    <%- include("partials/scripts.ejs") %>
  </body>
</html>
