<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include("partials/nav.ejs") %> 
    <div class="container mt-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <% blogs.forEach(blog => { %>
          <div class="col mb-4">
            <div class="card">
              <img src="/<%= blog.coverImageUrl %>" class="card-img-top" alt="Cover image">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <a href="blog/<%= blog._id %>" class="btn btn-primary">View Explanation</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <%-include("partials/scripts.ejs") %>
  </body>
</html>
