<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include("partials/nav.ejs") %> 
    <div class="container mt-3">
      <% blogs.forEach(blog => { %>
        <div class="card" style="width: 18rem;">
            <img src="<%= blog.coverImageUrl%>" alt="Cover image"> 
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">view</a>
          </div>
        </div>
      <% }) %>
    </div>
    <%-include("partials/scripts.ejs") %>
  </body>
</html>
